body {
  background-color: green;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container form {
  border: 3px solid blue;
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(110, 139, 110);
}
